<table class="table">
  <thead>
  <tr>
    <th scope="col">ID</th>
    <th scope="col">Name</th>
    <th scope="col">Address</th>
    <th scope="col">Age</th>
    <th scope="col">Gender</th>
    <th scope="col">Phone</th>
    <th scope="col">Last Update</th>
    <th scope="col">Actions</th>

  </tr>
  </thead>
  <tbody>

  <tr>
    <th scope="row">2</th>
    <td>Jacob</td>
    <td>Thornton</td>
    <td>@fat</td>
    <td>Jacob</td>
    <td>Thornton</td>
    <td>@fat</td>
    <td class="actions">
      <button type="submit" class="btn btn-primary" routerLink="/actions">Update</button>
      <button type="submit" class="btn btn-danger">Delete</button>
    </td>
  </tr>

  </tbody>
</table>
<button type="submit" class="btn btn-danger">Add Employee</button>
